/********** Base styles **********/
* {
  box-sizing: border-box;
}
h2{ margin: 0px;
	float: right;
	font-size: 30px;
}
div{width: 30%;
	background-color: grey;
	border: 2px solid black

}
#content {
	font-size: 15px;
	font-color: black;
	clear: right;
	font-style: italic;

}